.screen .top-content .button.validate {
    left: 0px;
    margin-left: 150px;
}

.pos .pickinglist-screen .picking-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .pickinglist-screen .picking-list th,
.pos .pickinglist-screen .picking-list td {
    padding: 0px 8px;
}
.pos .pickinglist-screen .picking-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
    cursor: pointer;
}
.pos .pickinglist-screen .picking-list thead > tr,
.pos .pickinglist-screen .picking-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .pickinglist-screen .picking-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .pickinglist-screen .picking-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .pickinglist-screen .picking-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .pickinglist-screen .picking-details{
    padding: 16px;
    bpicking-bottom: solid 5px rgb(110,200,155);
}

.pos .pickinglist-screen .searchbox{
    right: auto;
    margin-left: -90px;
    margin-top:8px;
    left: 50%;
}
.pos .pickinglist-screen .searchbox input{
    width: 120px;
}

.pos .pickinglist-screen .picking-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

/*
 * picking adjust screen
 *
 */

.screen .top-content .button.validate {
    left: 0px;
    margin-left: 150px;
}

.pos .pickingadjust-screen table {
    width: 100%;
}

.pos .pickingadjust-screen .pickingadjust-list td {
    padding: 0px 8px;
}

.pos .pickingadjust-screen .pickingadjust-list th {
    padding: 0px 8px;
    font-size: 2em;
}

.pos .pickingadjust-screen .pickingadjust-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
    cursor: pointer;
}
.pos .pickingadjust-screen .pickingadjust-list thead > tr,
.pos .pickingadjust-screen .pickingadjust-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .pickingadjust-screen .pickingadjust-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .pickingadjust-screen .pickingadjust-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .pickingadjust-screen .pickingadjust-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .pickingadjust-screen .picking-details{
    padding: 16px;
    bpicking-bottom: solid 5px rgb(110,200,155);
}

.pos .pickingadjust-line .picking-product{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
}

.pos .pickingadjust-line button,
.pos .pickingadjust-line input
{
    padding: 10px;
    font-size: 2em;
    text-align: center;
}

.pos .pickingadjust-line .operation_qty{
    width: 100px;
    height: 20px;
    font-weight: bold;
}
